@media screen and (min-width: 830px) {

    /*** header***/

    header{
        padding: 10px 5%;
        margin-bottom: 50px;
    }

    header img{
        height: 50px;
    }

    header i{
        font-size: 30px;
    }

    /*** /header***/

    /*** main***/

    /*card-container*/

    #card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 5%;
    }

    .light-blue{
        width: 66%;
        margin: 0px;
    }


    .green, 
    .salmon, 
    .yellow, 
    .violet{
        width: 32%;
        margin: 0px;
    }

    .green{
        height: 100%;
        padding-bottom: 38%;
    }

    .salmon, 
    .yellow, 
    .violet{
        height: 400px;
        margin-top: 15px;
    }

    .freepik{
        text-align: center;
    }

    /*/card-container*/

    /*stratecic*/

    #strategic{
        padding: 20px 5%;
    }

    #strategic img{
        margin-bottom: 80px;
    }

    #strategic h1{
        font-size: 70px;
    }

    /*/stratecic*/

    /*testimonials*/

    #testimonials{
        padding: 40px 5%;
    }

    .testimonials-card{
        display: flex;
        justify-content: space-between;
    }

    .immagine{
        margin-right: 40px;
    }

    #right{
        display: flex;
        flex-direction: column;
        text-align: start;
    }


    /*/testimonials*/

    /*benefits*/

    #benefits{
        padding: 40px 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits-card{
        width: 48%;
    }

    /*/benefits*/

    /*about us*/

    #about-us{
        display: flex;
        flex-wrap: wrap;
        padding: 50px 5%;
    }

    #about-left{
        width: 70%;
        padding-right: 8%;
    }

    #about-left h1{
        font-size: 60px;
    }

    #about-right{
        width: 30%;
    }

    #about-right h2{
        font-size: 20px;
    }

    /*about us*/

   /*** /main***/ 

   /*** footer***/

   #get-started{
       padding: 50px 15%;
   }

   #get-started h2{
       font-size: 40px;
   }

   #get-started h1{
       font-size: 80px;
   }

   #bg-black{
       padding: 30px 30%;
   }

   /*** /footer***/
}




@media screen and (min-width: 1200px){

    /*** header***/

    header{
        padding: 10px 15%;
    }

    header > button{
        display: none;
    }

    nav{
        display: inline-block;
    }

    /*** /header***/
    
    /*** main***/

    /*card-container*/

    #card-container{
        padding: 0px 15%;
    }

    .light-blue{
        display: flex;
        width: 66%;
        padding: 5% 2% 0px;
    }

    .light-blue img{
        margin-right: 0;
    }

    .green{
        width: 32%;
        padding-bottom: 8%;
    }

    .salmon,
    .yellow,
    .violet{
        width: 32%;
        height: 325px;
    }

    .card > h1{
        padding-bottom: 20px;
    }

    /*/card-container*/

    /*strategic*/

    #strategic{
        display: flex;
        padding: 0px 20%;
    }

    #strategic-planning{
        margin: 50px 0px;
        width: 100%;
        padding-right: 5%;
    }

    #strategic-planning h1{
        font-size: 40px;
    }

    #app-development{
        height: 500px;
        margin-top: 200px;    
    }

    #app-development img{
        margin-bottom: 20px;
    }

    /*/strategic*/

    /*testimonials*/

    #testimonials{
        padding: 30px 20%;
    }

    #testimonials-info{
        padding: 0px 50px;  
    }

    /*/testimonials*/

    /*benefits*/

    #benefits{
        padding: 40px 15%;
    }

    #benefits h1{
        margin: 0px 21.5% 10px;
    }


    .benefits-card{
        width: 32%;
    }

    /*/benefits*/

    /*about us*/

    #about-us{
        padding: 50px 15%;
    }

    .bg-roger{
        width: 75%;
    }

    /*about us*/

   /*** /main***/

   /*** footer***/

   #get-started{
       padding: 50px 30%;
    }

}
/*** /footer***/
